<div class="row">
 <div class="col-md-12">
 <h2>Employees</h2>
 <hr />
 {{#each departments}}  
    
      <a href="/employees?department={{departmentId}}">{{departmentId}}</a>
      <a href="/employees?department={{departmentId}}">{{departmentName}}</a>
  
    <hr />
    {{/each}}
 </div>
</div>





