
body{
	margin: 0;
	width:100%;
	height:100%;
}
		
header{
	background-color: #ddd;
	padding:5px 25px;
}

title{
    color: rgba(23, 66, 206, 0.788);
}
		
nav{
	padding:8px;
	background-color: #435;
}
		
nav ul{
	font-family: 'Barrio', cursive;
	list-style-type: none;
	padding-left:0px;
	margin:0px;
}
		
div ul li{
	
	display:inline-block;
	background-color: #435;
}
		

P{
	font-family: 'Pacifico', cursive;
}